
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500'); /* Raleway Font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans'); /* Open Sans Font */
@font-face {
    font-family: 'Anurati';
    src: url('../fonts/Anurati-Regular.otf');
}

/* --------------------------- ///////////  Fun Begins/////////// --------------------------- */
/* -Color- */
.colored {
    color: #E48632;
}

.colored2 {
    color: #E48632;
}

/* -Resets- */
html, body { 
    background-color: #111;
    background: url(../images/bg.png);
    background-repeat: repeat;
    color: #FFF;
    font-size: 16px;
    line-height: 1.5rem; /* 24px */
    max-width: 100%;
	overflow-x: hidden;
}
/* -Full width fluid container- */
.full-width {
    padding-left: 0;
    padding-right: 0;
}
/* -Text Styling */
h1,h2,h3 {
	font-family: Raleway, sans-serif;
}
h1 {
    font-size: 2.25rem; /* 36px */
    font-family: Anurati, sans-serif;
    letter-spacing: 5px;
} 
h2 {
    font-size: 1.50rem; /* 24px */
    font-weight: 500;
}
h3 {
    font-size: 1.25rem; /* 20px */
    font-weight: 400;
}

p {
    font-family: Open Sans, sans-serif;
    font-size: 0.9375rem; /* 15px */
    padding: 5px 5px 5px 0;
    margin: 0;
}
.strong {
    font-weight: bold;
}
.subtle {
	color: #999;
}
.spaced {
    letter-spacing: 5px;
}
.text-center {
	text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
ul {
    list-style-type: none;
    padding: 0;
}
/* -Margins and Floats- */
.floated-left {
     float: left;
}
.floated-right {
    float: right;
}
.inline {
	display: inline;
}
.offset {
	margin-left: 10px;
}
.tiny-margin {
    margin-bottom: 1.5em /* 24px */
}
.small-margin {
	margin-bottom: 3em; /* 48px */
}
.medium-margin {
	margin-bottom: 6em; /* 96px */
}
.large-margin {
	margin-bottom: 12em; /* 192px */
}


/* - Button Styling Making it Beautiful do you love it? */
button {
    outline: none !important;
}
.button {
	background: #E48632;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: Raleway, sans-serif;
    font-weight: 500;
	display: block;
	height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
    padding: 5px 15px;
    outline: none;
	transition: all 0.2s ease;
    cursor: pointer;
}
.button:hover {
	background: #FFF;
	color: #2B2B2B;
}


/* --------------------------- ///////////  HEADER & NAVIGATION /////////// --------------------------- */
#logo {
    font-family: Anurati, sans-serif;
    font-size: 1.75rem; /* 28px */;
    letter-spacing: 5px;
}
.navbar-dark {
    background-color: rgba(0,0,0,0);
    border: 1px solid rgba(0,0,0,0);
    z-index: 900;
    transition: 0.3s;
}
.scrolled {
    background-color: rgba(0,0,0,0.8); /* navbar background gradient */
    z-index: 900;
}
.nav-link {
    font-size: 1.125rem;
    font-weight: 500;
    margin-top: 5px;
    transition: 0.2s;
}
.navbar-dark .navbar-nav .nav-link {
    color: #FFF;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #E48632;
}
.navbar-dark .navbar-nav .nav-link:active {
    color: #E48632;
}
.navbar-dark .navbar-nav .nav-link:focus {
    color: #E48632;
}
.navbar-toggler {
    border: none;
    cursor: pointer;
}


/* --------------------------- ///////////  HERO SECTION /////////// --------------------------- */
/* -Hero Image- */
.hero-unit {
    background-color: #111;
    background: url(../images/bg.png);
    background-repeat: repeat;
    min-height: 720px;
    height: 100vh;
}
/* -Particles- */
#particles-web {
    position: absolute;
    top: 0;
    background: none;
    height: 100%;
    width: 100%;
}
/* -Hero Image Caption- */
.hero-caption {
    display: block;
    position: relative;
    margin-top: 40vh;
    color: #FFF;
	text-shadow: none; 
    padding: 20px;
    z-index: 5;
    text-align: center;
}
.hero-caption h1 {
    font-weight: 300;
    font-size: 3rem;
    font-family: Raleway, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}


/* --------------------------- /////////// TEAM SECTION /////////// --------------------------- */
#full-row {
    width: 100%;
}
#team figure {
    display: inline-block;
    position: relative;
    text-align: center;
    overflow: hidden;
}
#team figure img {
    border-radius: 3px;
    border-bottom: 2px solid #E48632;
}
.team-caption ul {
    margin-top: 10px;
}
.team-caption ul li {
    display: inline;
    margin: 0 5px;
}
.team-caption ul li > a {
    color: #EEE;
}
.team-caption ul li > a:hover {
    color: #E48632;
}
.team-caption {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    text-align: center; 
    padding: 40% 20px 20px 20px;
    z-index: 5;
    opacity: 0;
    transition: all 0.3s ease;
}
#team figure:hover > .team-caption {
    opacity: 1;
}
#team figure:hover > img {
    filter: blur(2px);
}
.team-name {
    font-size: 1.5rem;
    padding-bottom: 0;
}

.grid-level .row {
    margin: 0 0 5px 0;
}

/* --------------------------- ///////////  How To Section/////////// --------------------------- */
.HowTo-card {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    border-left: 2px solid #E48632;
    padding: 25px 35px;
    margin: 10px 0;
}
.modal-content {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
}
.modal-header {
    border-bottom: 1px solid #E48632;
}
.modal-body > ul > li > p {
    padding: 0 5px;
}
.modal-body ul {
    list-style: disc;
    margin: 0 0 0 25px;
}
.modal-body h3 {
    margin-bottom: 0;
}
.modal-footer {
    border-top: 1px solid #E48632;
}
.modal-footer button {
    margin: 0;
}
.button.secondary {
    background: #222;
}
.button.secondary:hover {
    background: #FFF;
}
.close {
    color: #FFF;
    opacity: 1;
    text-shadow: none;
    cursor: pointer;
}
.close:hover {
    color: #E48632;
    opacity: 1;
}

th, td {
    padding: 5px;
}


/* --------------------------- /////////// FOOTER /////////// --------------------------- */
#footer {
    width: 100%;
    min-height: 70px;
    height: auto;
    background: #070707;
    border-top: 2px solid #E48632;
    padding: 20px 0 0 0;
}

#copyright {
    float: left;
}


/* --------------------------- /////////// Levels Page Game play/////////// --------------------------- */


/* Insert Game Here*/
.gameBox {
width: 800px;


}


canvas  {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
     padding-bottom:0px;
    padding-top: 0px;
    border: 10px inset rgb(77, 73, 73);
}

.game-input {
    display: block;
    position: relative;
    margin-top: 10vh;
    color: #FFF;
	text-shadow: none; 
    padding: 0px;
    z-index: 5;
    text-align: center;
    height: 30px;
    margin-bottom: 42vh;
   
}


.game-input2 {
    display: block;
    position: relative;
    margin-top: 10vh;
    color: #FFF;
	text-shadow: none; 
    padding: 0px;
    z-index: 5;
    text-align: center;
    height: 30px;
    margin-bottom: -40vh;
   
}

.username{
margin-bottom: 4vh;
margin-top: 10vh;

}

.hidden {
    height: 0px;
    width: 0px;
    display: none;
}

.end-screen1 { 
    background: #070707;
    display: block;
    position: relative;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    color: #FFF;
	text-shadow: none; 
    padding: 1px;
    z-index: 5;
    text-align: center;
    height: 80px;
    width: 500px;
    margin-bottom: -40vh;
}

.end-screen2 { 
    background: #070707;
    display: block;
    position: relative;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    color: #FFF;
	text-shadow: none; 
    padding: 0px;
    z-index: 5;
    text-align: center;
    height: 80px;
    width: 500px;
    margin-bottom: -40vh;
}

.end-screen3 { 
    background: #070707;
    display: block;
    position: relative;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    color: #FFF;
	text-shadow: none; 
    padding: 1px;
    z-index: 5;
    text-align: center;
    height: 100px;
    width: 500px;
    margin-bottom: -40vh;
}

.end-screen4 { 
    background: #070707;
    display: block;
    position: relative;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    color: #FFF;
	text-shadow: none; 
    padding: 1px;
    z-index: 5;
    text-align: center;
    height: 100px;
    width: 500px;
    margin-bottom: -40vh;
}

a p {
    background: #E48632;
    color: #FFF;
    margin: auto;
    text-decoration: none;
    width: 100px;
}
